/* define the card area */

.cardBox {
  height: 300px;
  width: 200px;
  border: 1px dotted purple;
  margin: 20px;
}




/* BUTTON BUTTON WHO GOT THE BUTTON */


.btn {
  background: #7700ff;
  background-image: -webkit-linear-gradient(top, #7700ff, #000000);
  background-image: -moz-linear-gradient(top, #7700ff, #000000);
  background-image: -ms-linear-gradient(top, #7700ff, #000000);
  background-image: -o-linear-gradient(top, #7700ff, #000000);
  background-image: linear-gradient(to bottom, #7700ff, #000000);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  text-shadow: 1px 1px 3px #000000;
  font-family: Arial;
  color: #ffff00;
  font-size: 22px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f7ff00;
  background-image: -webkit-linear-gradient(top, #f7ff00, #d9ff00);
  background-image: -moz-linear-gradient(top, #f7ff00, #d9ff00);
  background-image: -ms-linear-gradient(top, #f7ff00, #d9ff00);
  background-image: -o-linear-gradient(top, #f7ff00, #d9ff00);
  background-image: linear-gradient(to bottom, #f7ff00, #d9ff00);
  text-decoration: none;
}

/*kjahdkjha*/